@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

img.logo {
   width: 60%;
}

main.head {
   background-size: cover;
   background-image: url('../assets/neon-pic.jpg');
   border: 2px solid #76ff03;
   padding: 5px;
   margin: 2px;
   text-align: center;
}

div.names {
   display:flex;
   justify-content: space-evenly;
}

div#cari {
   /* display: inline-flex;
   width: 290px;
   height: 100px;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   margin: 3px;
   padding: 5px;
   border: 2px #15e6f5; */
   font-size: 2em;
   color: #fff;
   text-shadow: 0 0 20px #ff005b;
}

div#phoebe {
   /* display: inline-flex;
   width: 290px;
   height: 100px;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   margin: 10px;
   padding: 10px;
   border: 2px #15e6f5; */
   font-size: 2em;
   color: #fff;
   text-shadow: 0 0 20px #ff005b;
}

div#drew {
   /* display: inline-flex;
   width: 290px;
   height: 100px;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   margin: 3px;
   padding: 5px;
   border: 2px #15e6f5; */
   font-size: 2em;
   color: #fff;
   text-shadow: 0 0 20px #ff005b;
}

#last {
   font-size: .845em;
}

div#chris {
   /* display: inline-flex;
   width: 290px;
   height: 100px;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   margin: 3px;
   padding: 5px;
   border: 2px #15e6f5; */
   font-size: 2em;
   color: #fff;
   text-shadow: 0 0 20px #ff005b;
}

#first {
   font-size: .95em;
}

h3 {
   text-align: center;
   font-size: 3em;
   color: #fff;
   text-shadow: 0 0 20px #ff005b;
}

body {
   margin: 0 auto;
   /* padding: 0; */
   color:pink;
   background-color:black;
   /* background-size: cover; */
   font-family: 'Quicksand', sans-serif;
}

main {
   /* font-size: 1em; */
   color: #fff;
   /* text-shadow: 0 0 20px #ff005b; */
}

span.nav-right {
   float: right;
}

div#team {
   /* font-size: 2em; */
   font-weight: bold;
   text-align: center;
}

a.nav-links {
   color: green;
   margin: 10px;
}

a.nav-links:hover {
   color: red;
}

div.names img {
   width: 45%;
   /* margin-left: 10%; */
}

#caris {
   width: 62%;
   height: 48;
   margin: 0px 5px 0px 20px;
}

#phoebes {
   width: 55%;
}

#drews {
   width: 46%;
}

#chriss {
   width: 55%;
   height: 55%;
   background: 50% 50% no-repeat;
}

.thumb1 { 
   background: url(blah.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
   width: 250px;
   height: 250px;
 }

div.names p {
   font-size: 14px;
}

@media screen and (max-width: 660px) {
   div.names {
      display: flex;
      flex-direction: column;
   }
}