@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

#sitewide-header
{
    border: 2px;
    border-color: #fff;
    font-size: 1em;
    color: rgb(rgb(17, 255, 69));
    text-align: center;
}

body
{
   margin: 0;
   padding: 0;
   background-color:black;
   background-size: cover;
   font-family: 'Quicksand', sans-serif;
}

.main
{

   font-size: 3em;
   color: #fff;
   text-shadow: 0 0 20px #ff005b;
}