@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

img.logo {
   width: 65%;
   margin: .25em;
}

main.head {
   background-size: cover;
   background-image: url('../assets/neon-pic.jpg');
   border: 2px solid #76ff03;
   padding: 5px;
   margin: 2px;
   text-align: center;
}

div.names {
   display:flex;
   justify-content: space-evenly;
}

div#cari {
   font-size: 1.5em;
   color: #fff;
   text-shadow: 0 0 20px #ff005b;
}

div#phoebe {
   font-size: 1.5em;
   color: #fff;
   text-shadow: 0 0 20px #ff005b;
}

div#drew {
   font-size: 1.5em;
   color: #fff;
   text-shadow: 0 0 20px #ff005b;
}

#last {
   font-size: .845em;
}

div#chris {
   font-size: 1.5em;
   color: #fff;
   text-shadow: 0 0 20px #ff005b;
}

#first {
   font-size: .95em;
}

h3 {
   text-align: center;
   font-size: 3em;
   color: #fff;
   text-shadow: 0 0 20px #ff005b;
}

body {
   /* margin: 0 auto; */
   color:pink;
   background-color:black;
   font-family: 'Quicksand', sans-serif;
}

main {
   color: #fff;
}

span.nav-right {
   float: right;
}

div#team {
   /* font-size: 2em; */
   font-weight: bold;
   text-align: center;
}
span.nav-right {
   font-size: 1.5em;
   color: #fff;
   text-shadow: 0 0 20px #ff005b;
}


a#textSizeTwo, a#textSize {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin: 0;
   padding: 0 20px;
   font-size: 1.5em;
   color: #fff;
   text-shadow: 0 0 20px #ff005b;
}

a#textSizeTwo:hover, a#textSize:hover {
   color: #ff005b;
}

div.names img {
   width: 45%;
   /* margin-left: 10%; */
}

div.names p {
   margin: 15px;
   font-size: 14px;
}

@media screen and (max-width: 600px) {
   div.names {
      display: flex;
      flex-direction: column;
   }
}