@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

* {
    box-sizing: border-box
}

/* nav {
    display: flex;
    justify-content: space-evenly;
}

fieldset.flex-center {
} */
html {
    font-family: 'Quicksand', sans-serif;
}

a.nav-links {
    color: green;
}

a.nav-links:hover {
    color: red;
}

div.header-div {
    display: block;
    justify-content: center;
}

span.nav-right {
    float: right;
}

img.logo {
    /* width: 60%; */
}

body {
    background-color: black;
    color:pink;
}

label.neon-label {
    font-size: 20px;
    padding: 12px;
}

.neon {
   position: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin: 0;
   padding: 0 20px;
   font-size: 1.5em;
   color: #fff;
   text-shadow: 0 0 20px #ff005b;
}

.neon:after {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 0;
   padding: 0 20px;
   z-index: -1;
   color: #ff005b;
}

#button-start-form {
    margin: 15px;
    border-radius: 12px;
    left: 45%;
    top: 42%; 
}

#button-sound-select {
    margin: 15px;
    border-radius: 12px;
    position: absolute;
    left: 40%;
    top: 75%;
}

#sample1-fieldset {
    position: absolute;
    left: 40%;
    top: 45%;
}

#sample2-fieldset {
    position: absolute;
    left: 40%;
    top: 55%;
}

#sample3-fieldset {
    position: absolute;
    left: 40%;
    top: 65%;
}

#header {
    text-align:center;
    /* left: 30%;
    top: 12%; */
}

@media screen and (min-width: 685px) {
    /* make columns  */
}

